# Python cache directories
__pycache__/
*.pyc
*.pyo

# Python virtual environment
venv/

# Nuitka build output
build/

# Visual Studio
.vs/
*.vspscc
*.user
*.userosscache
*.suo
*.vssscc
*.dbmdl
*.sln.docstates

# Ruff
.ruff_cache/

**/auto_chiseler_log_*.txt

# Legacy log dumps from (Pip Reroller)
**/pip_reroller_log_*.txt